Объединение множеств union()
возвращает новое множество в которое входят все элементы объединенных множеств.
Для объединения двух множеств можно также использовать оператор |
Для изменения текущего множества используется метод update()

In [1]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1.union(myset2)
print(myset3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1 | myset2
print(myset3)

{1, 2, 3, 4, 5, 6, 7, 8}

Пересечение множеств: метод intersection()
Метод intersection() возвращает новое множество, в которое входят общие элементы множеств.
Для изменения текущего множества используется метод intersection_update()
Для пересечения двух множеств можно также использовать оператор &.

In [3]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1.intersection(myset2)
print(myset3)

{3, 4}

In [4]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1 & myset2
print(myset3)

{3, 4}

Разность множеств: метод difference() возвращает множество, в которое входят все элементы первого множества, не входящие во второе множество. 
Для разности двух множеств можно также использовать оператор -.

!!! Для операции разности множеств важен порядок, в котором указаны множества. Если поменять местами myset1 и myset2, получим совсем другой результат: 
элементы входящие в множество myset2 и которых нет в множестве myset1.

In [5]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1.difference(myset2)
print(myset3)

{1, 2, 5}

In [6]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1 - myset2
print(myset3)

{1, 2, 5}

In [7]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset2.difference(myset1)
print(myset3)

{8, 6, 7}

Симметрическая разность: symmetric_difference()
    
Возвращает множество, включающее все элементы исходных множеств, не принадлежащие одновременно обоим исходным множествам. 
Для симметрической разности двух множеств можно также использовать оператор \^.

In [8]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1.symmetric_difference(myset2)
print(myset3)

{1, 2, 5, 6, 7, 8}

In [9]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset3 = myset1 ^ myset2
print(myset3)

{1, 2, 5, 6, 7, 8}

Метод update() изменяет исходное множество по объединению.
Аналогичный результат получается, если использовать оператор |=:

In [10]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1.update(myset2)
print(myset1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1 |= myset2
print(myset1)

{1, 2, 3, 4, 5, 6, 7, 8}

Метод intersection_update() изменяет исходное множество по пересечению.

Аналогичный результат получается, если использовать оператор &=:

In [12]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1.intersection_update(myset2)
print(myset1)

{3, 4}

In [13]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1 &= myset2
print(myset1)

{3, 4}

Метод difference_update() изменяет исходное множество по разности.
Аналогичный результат получается, если использовать оператор -=

In [14]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1.difference_update(myset2)
print(myset1)

{1, 2, 5}

In [15]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1 -= myset2
print(myset1)

{1, 2, 5}

Метод symmetric_difference_update() изменяет исходное множество по симметрической разности.
Аналогичный результат получается, если использовать оператор ^=:

In [16]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1.symmetric_difference_update(myset2)
print(myset1)

{1, 2, 5, 6, 7, 8}

In [17]:
myset1 = {1, 2, 3, 4, 5}
myset2 = {3, 4, 6, 7, 8}

myset1 ^= myset2
print(myset1)

{1, 2, 5, 6, 7, 8}

In [18]:
mylist = [2021, 2020, 2019, 2018, 2017, 2016]
mytuple = (2021, 2020, 2016)
mystr = 'abcd'

myset = {2009, 2010, 2016}

print(myset.union(mystr))
print(myset.intersection(mylist))
print(myset.difference(mytuple))

{2016, 'c', 'd', 2009, 2010, 'b', 'a'}
{2016}
{2009, 2010}

In [19]:
mylist = [2021, 2020, 2019, 2018, 2017, 2016]
mytuple = (2021, 2020, 2016)
mystr = 'abcd'

myset = {2009, 2010, 2016}

print(myset | mystr)
print(myset & mylist)
print(myset - mytuple)

TypeError: unsupported operand type(s) for |: 'set' and 'str'

In [20]:
myset1 = {1, 2, 3, 4, 5, 6}
myset2 = {2, 3, 4, 5}
myset3 = {5, 6, 7, 8}

union1 = myset1.union(myset2, myset3)
union2 = myset1 | myset2 | myset3

difference1 = myset1.difference(myset2, myset3)
difference2 = myset1 - myset2 - myset3            # порядок выполнения слева-направо

print(union1 == union2)
print(difference1 == difference2)

True
True

In [21]:
myset1 = {1, 2, 3, 4, 5, 6}
myset2 = {2, 3, 4, 7}
myset3 = {6, 20, 30}

symdifference = myset1 ^ myset2 ^ myset3  # порядок выполнения слева-направо

print(symdifference)

{1, 5, 7, 20, 30}

In [22]:
myset1 = {1, 2, 3, 4, 5, 6}
myset2 = {2, 3, 4, 7}
myset3 = {6, 20, 30}

symdifference = myset1.symmetric_difference(myset2, myset3)

print(symdifference)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [23]:
myset1.symmetric_difference(myset2)

{1, 5, 6, 7}